{% extends "base.html" %}

{% block page_content %}
<div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">{{view_for|title}} Details #{{object.id}} </h3>
        </div>
        <div class="col-4 text-right">
            {% if view_for == 'student'%}
                <a href="{% url 'student-update' object.id %}" class="btn btn-sm btn-info">Update</a>
                <a href="{% url 'student-delete' object.id %}" class="btn btn-sm btn-warning">Delete</a>
                <a href="{% url 'student-list' %}" class="btn btn-sm btn-primary">View All</a>
            {% else %}
                <a href="{% url 'teacher-update' object.id %}" class="btn btn-sm btn-info">Update</a>
                <a href="{% url 'teacher-delete' object.id %}" class="btn btn-sm btn-warning">Delete</a>
                <a href="{% url 'teacher-list' %}" class="btn btn-sm btn-primary">View All</a>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">{{view_for|title}} Name</dt>
          <dd class="col-sm-9">{{ object.name }} </dd>
        </dl>

        <div class="col-8">
            <h3 class="mb-0">Associated {% if view_for == 'student'%}Teachers {% else %} Student {% endif %} with "{{object.name}}" list are below</h3><br>
        </div>

        <div class="table-responsive">
            <table class="table align-items-center table-flush" id="associate">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Associate Relationship </th>
                        <th scope="col">Star student </th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in queryset %}
                        {% if view_for == 'student'%}
                            <tr>
                                <td>
                                    <a href="{% url 'teacher-detail' obj.teacher_id %}">{{ obj.teacher_id }}</a>
                                </td>
                                <td>{{ obj.teacher__name }}</td>
                                <td><button type="button" class="btn btn-sm btn-primary non-associate" data-viewFor="{{ view_for }}" data-teacherId="{{obj.teacher_id}}" data-studentId="{{object.id}}" data-url="{% url 'teacher-detail' obj.teacher_id %}" data-name="{{obj.teacher__name}}">UnAssociate</button></td>
                                <td><button type="button" class="btn btn-sm btn-primary star-student" data-teacherId="{{obj.teacher_id}}" data-studentId="{{object.id}}" data-url="{% url 'teacher-detail' obj.teacher_id %}" >{% if obj.is_star_student %}UnStar{% else %}Star{% endif %}</button></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <a href="{% url 'student-detail' obj.student_id %}">{{ obj.student_id }}</a>
                                </td>
                                <td>{{ obj.student__name }}</td>
                                <td><button type="button" class="btn btn-sm btn-primary non-associate" data-viewFor="{{ view_for }}" data-teacherId="{{object.id}}" data-studentId="{{obj.student_id}}" data-url="{% url 'student-detail' obj.student_id %}" data-name="{{obj.student__name}}">UnAssociate</button></td>
                                <td><button type="button" class="btn btn-sm btn-primary star-student" data-teacherId="{{object.id}}" data-studentId="{{obj.student_id}}" data-url="{% url 'student-detail' obj.student_id %}" >{% if obj.is_star_student %}UnStar{% else %}Star{% endif %}</button></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="col-8">
             <h3 class="mb-0">Non associated {% if view_for == 'student'%}Teachers {% else %} Student {% endif %} list are below</h3>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush" id="non_associate">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">RelationShip</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in non_associate_qs %}
                        {% if view_for == 'student'%}
                            <tr>
                                <td>
                                    <a href="{% url 'teacher-detail' obj.id %}">{{ obj.id }}</a>
                                </td>
                                <td>{{ obj.name }}</td>
                                <td><button type="button" class="btn btn-sm btn-primary associate" data-viewFor="{{ view_for }}" data-teacherId="{{obj.id}}" data-studentId="{{object.id}}" data-url="{% url 'teacher-detail' obj.id %}" data-name="{{obj.name}}">Associate</button></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <a href="{% url 'student-detail' obj.id %}">{{ obj.id }}</a>
                                </td>
                                <td>{{ obj.name }}</td>
                                <td><button type="button" class="btn btn-sm btn-primary associate" data-viewFor="{{ view_for }}" data-teacherId="{{object.id}}" data-studentId="{{obj.id}}" data-url="{% url 'student-detail' obj.id %}" data-name="{{obj.name}}">Associate</button></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

$('.associate').click(function() {
    var studentId = $(this).attr("data-studentId");
    var teacherId = $(this).attr("data-teacherId");
    var viewFor = $(this).attr("data-viewFor");
    var path = $(this).attr("data-url");
    var name = $(this).attr("data-name");
    var td = event.target.parentNode;
    var tr = td.parentNode;
    $.ajax({
        url: '/ajax/associate_teacher_student/',
        data: {
          'studentId': studentId,
          'teacherId': teacherId,
          'associate': true
        },
        dataType: 'json',
        success: function(data) {
        tr.parentNode.removeChild(tr);
        if(viewFor == "teacher"){
            var dataId = studentId;
        }else{
            var dataId = teacherId;
        }

        var trElement = ''
        trElement += "<tr><td><a href=" +
            '"'+ path +'">' + dataId + "</a>" +
            "</td><td>" + name + "</td>"+
            "<td><button type="+'"button" class="btn btn-sm btn-primary non-associate" data-viewFor="' + viewFor + '" data-teacherId="' + teacherId +'" data-studentId="' + studentId +'" data-url="' + path + '" data-name="' + name + '">UnAssociate</button></td>'+
            "<td><button type="+'"button" class="btn btn-sm btn-primary star-student" data-teacherId="' + teacherId + '" data-studentId="' + studentId +'" data-url="' + path + '" >Star</button></td>'+
            "</tr>"
        $('#associate').prepend(trElement);
        },
        error: function() {
            alert('Something is wrong');
        }
      });
});

$('.non-associate').click(function() {
    var studentId = $(this).attr("data-studentId");
    var teacherId = $(this).attr("data-teacherId");
    var viewFor = $(this).attr("data-viewFor");
    var path = $(this).attr("data-url");
    var name = $(this).attr("data-name");
    var td = event.target.parentNode;
    var tr = td.parentNode;
    $.ajax({
        url: '/ajax/associate_teacher_student/',
        data: {
          'studentId': studentId,
          'teacherId': teacherId,
          'associate': false
        },
        dataType: 'json',
        success: function(data) {
        tr.parentNode.removeChild(tr);
        if(viewFor == "teacher"){
            var dataId = studentId;
        }else{
            var dataId = teacherId;
        }

        var trElement = ''
        trElement += "<tr><td><a href=" +
            '"'+ path +'">' + dataId + "</a>" +
            "</td><td>" + name + "</td>"+
            "<td><button type="+'"button" class="btn btn-sm btn-primary associate" data-viewFor="' + viewFor + '" data-teacherId="' + teacherId +'" data-studentId="' + studentId +'" data-url="' + path + '" data-name="' + name + '">Associate</button></td>'+
            "</tr>"

        $('#non_associate').prepend(trElement);

        },
        error: function() {
            alert('Something is wrong');
        }
      });
});

$('.star-student').click(function() {
    var starStudent
    var studentId = $(this).attr("data-studentId");
    var teacherId = $(this).attr("data-teacherId");
    var obj = $(this);
    if ($(this).text() == "Star"){
        starStudent = true
    } else{
        starStudent = false
    }
    $.ajax({
        url: '/ajax/star_student/',
        data: {
          'studentId': studentId,
          'teacherId': teacherId,
          'starStudent': starStudent
        },
        dataType: 'json',
        success: function(data) {
        if (starStudent == true){
            obj.text("UnStar");
        }else{
            obj.text("Star");
        }
        },
        error: function() {
            alert('Something is wrong');
        }
      });
});

</script>
{% endblock %}
